<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('exercice', []);
        app.controller('ExerciceController', function ($scope) {
            $scope.isHidden = false;
            $scope.clickMe = function () {
                $scope.isHidden = !$scope.isHidden ;
            }
        });
    </script>
    <title>Angular ex. 3</title>
</head>
<body ng-app="exercice">
    <div class="container" ng-controller="ExerciceController">
        <div class="row">
            <button ng-show="!isHidden" ng-click="clickMe()" class="alert alert-success">NG SHOW</button>
            <button ng-hide="!isHidden" ng-click="clickMe()" class="alert alert-danger">NG HIDE</button>
        </div>
    </div>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>